.custom-calendar {
  box-shadow: 0 1em 3em rgba(156, 136, 255, 0.2);
  z-index: 0;
  box-shadow: none;
}

.custom-today-day {
  color: #e67e22 !important;
  border: 1px solid #e67e22 !important;
}

.custom-today-day::after {
  visibility: hidden; /* hide small border under the text */
}

.Calendar__weekDays {
  @apply border-b-[0.1rem] border-headLine pb-3  text-sm text-black;
}

.Calendar__day {
  width: calc(95% / 7);
}

.Calendar__monthArrow {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 text-white bg-news-Items h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M11.25 9l-3 3m0 0l3 3m-3-3h7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>');
}
.Calendar__monthArrow {
  @apply !text-white;
}

.Calendar__monthArrowWrapper {
  @apply text-xl;
}
.-left {
  transform: rotate(0deg) !important;
}

.-right {
  transform: rotate(180deg) !important;
}
.Calendar__monthSelectorItem {
  @apply rounded-xl bg-news-Items;
}

.Calendar__yearSelectorItem {
  @apply rounded-xl bg-news-Items;
}

.Calendar__header {
  @apply pt-10;
}

.Calendar__weekDay:last-child {
  color: red;
}

/* .Calendar__header {
  @apply before:absolute before:top-0;
} */

.custom-today-day {
  @apply !border-2 !border-[#3C6382] bg-[#DFE5EA] !text-[#3C6382];
}

* {
  scrollbar-width: thin;
  scrollbar-color: #566879;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  direction: rtl;
  background-color: #7e92a5;
  border-radius: 20px;
  border: transparent;
}

.CalendarFooterPart::-webkit-scrollbar-thumb {
  direction: rtl;
  background-color: #ff0000f3 !important ;
  border-radius: 20px;
  border: transparent;
}
