@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-persian-blue-dark text-white;
}

@font-face {
  font-family: Vazirmatn;
  src: url('../public/Vazirmatn-Medium.ttf');
}

:root {
  font-family: Vazirmatn;
}

.iconIncideInput {
  @apply pointer-events-none absolute right-0 top-[4.2rem] h-8 -translate-y-1/2 transform pr-4 text-persian-blue-800;
}

.icon {
  @apply cursor-pointer  h-12 rounded-full  bg-white p-2 text-persian-blue-800;
}

.simplae-animation {
  @apply !transition-all !duration-500 !ease-in-out;
}
