@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-persian-blue-dark;
}

@font-face {
  font-family: Vazirmatn;
  src: url('../public/Vazirmatn-Medium.ttf');
}

:root {
  font-family: Vazirmatn;
}

.iconIncideInput {
  @apply pointer-events-none absolute right-0 top-[4.2rem] h-8 -translate-y-1/2 transform pr-4 text-persian-blue-800;
}
