@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-persian-blue-dark text-white;
}

@font-face {
  font-family: Vazirmatn;
  src: url('../public/Vazirmatn-Medium.ttf');
}

:root {
  font-family: Vazirmatn;
}

.iconIncideInput {
  @apply pointer-events-none absolute right-0 top-[4.2rem] h-8 -translate-y-1/2 transform pr-4 text-persian-blue-800;
}

.icon {
  @apply h-12  cursor-pointer rounded-full  bg-white p-2 text-persian-blue-800;
}

.simplae-animation {
  @apply !transition-all !duration-500 !ease-in-out;
}

.classDet {
  animation: opacity 0.8s ease-in-out normal;
}

.centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes opacity {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
